// slide-intro
.slide-intro {
    .swiper-slide {
        position: relative;
        &.swiper-slide-active {
            .slide-txt {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
        }
    }
    .slide-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: all 0.8s;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        color: $white;
        span {
            padding: 3px 10px;
            font-size: 0.875rem;
            background: $primary;
        }
        strong {
            display: block;
            margin: 10px 0 15px;
            font-size: 2.3rem;
            line-height: 1.2;
        }
    }
    picture {
        position: relative;
        width: 100%;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
        }
    }
    img {
        // height: calc(100vh - $hdH);
        height: 100vh;
    }
}
@media screen and (min-width: $breakpoint-xl) {
    .slide-intro {
        .slide-txt {
            width: 100%;
            text-align: left;
            span {
                font-size: 1.2rem;
            }
            strong {
                margin-bottom: 30px;
                font-size: 5rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
        img {
            height: 640px;
        }
    }
}

// main
.sec-eft {
    overflow: hidden;
}
.slide-eft {
    overflow: visible;
    width: 85%;
    margin-left: 0;
    margin-right: 0;
    .swiper-slide {
        height: 500px;
        background: $primary;
        border-radius: 20px;
    }
}

@media screen and (min-width: $breakpoint-md) {
    .slide-eft {
        width: 95%;
    }
}
